<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/images/favicon.png">
    <!-- Custom CSS -->
    <link href="../static/assets/libs/flot/css/float-chart.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../static/dist/css/style.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>自然语言处理系统</title>
    <!-- script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script -->
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/world.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

    <!-- link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css" -->
    <!-- src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script -->
    <!-- script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script -->

</head>
<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="#">
                        <!-- Logo icon -->
                        <b class="logo-icon p-l-10">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="../static/assets/images/logo-icon.png" alt="homepage" class="light-logo" />

                        </b>
                        <!--End Logo icon -->
                         <!-- Logo text -->
                        <span class="logo-text">
                             <!-- dark Logo text -->
                             <img src="../static/assets/images/logo-text.png" alt="homepage" class="light-logo" />

                        </span>
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto">
                        <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a></li>
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item search-box"> <a class="nav-link waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search position-absolute">
                                <input type="text" class="form-control" placeholder="Search &amp; enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right">
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="font-24 mdi mdi-comment-processing"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown" aria-labelledby="2">
                                <ul class="list-style-none">
                                    <li>
                                        <div class="">
                                             <!-- Message -->
                                            <a href="javascript:void(0)" class="link border-top">
                                                <div class="d-flex no-block align-items-center p-10">
                                                    <span class="btn btn-success btn-circle"><i class="ti-calendar"></i></span>
                                                    <div class="m-l-10">
                                                        <h5 class="m-b-0">事件日志</h5>
                                                        <span class="mail-desc">Just a reminder that event</span>
                                                    </div>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)" class="link border-top">
                                                <div class="d-flex no-block align-items-center p-10">
                                                    <span class="btn btn-info btn-circle"><i class="ti-settings"></i></span>
                                                    <div class="m-l-10">
                                                        <h5 class="m-b-0">配置</h5>
                                                        <span class="mail-desc">You can customize this template</span>
                                                    </div>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)" class="link border-top">
                                                <div class="d-flex no-block align-items-center p-10">
                                                    <span class="btn btn-primary btn-circle"><i class="ti-user"></i></span>
                                                    <div class="m-l-10">
                                                        <h5 class="m-b-0">数据中心</h5>
                                                        <span class="mail-desc">Just see the my admin!</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->

                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../static/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31"></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i>个人中心</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet m-r-5 m-l-5"></i>我的账户</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i> Inbox</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-settings m-r-5 m-l-5"></i>账户设置</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-power-off m-r-5 m-l-5"></i>注销</a>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30">	
						<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/" aria-expanded="false">
                            <i class="mdi mdi-view-dashboard"></i><span class="hide-menu">DashBoard</span></a></li>
							
						<li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="/product-module" aria-expanded="false"><i class="mdi mdi-chart-bar"></i><span class="hide-menu"> 竞品分析 </span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="/product-module" class="sidebar-link"><i class="mdi mdi-chart-bar"></i><span class="hide-menu"> 产品类型 </span></a></li>
                                <li class="sidebar-item"><a href="/edc" class="sidebar-link"><i class="mdi mdi-chart-bar"></i><span class="hide-menu"> EDC功能 </span></a></li>                                
								<li class="sidebar-item"><a href="/price" class="sidebar-link"><i class="mdi mdi-chart-bar"></i><span class="hide-menu"> 产品定价 </span></a></li>
                                <li class="sidebar-item"><a href="/deployment" class="sidebar-link"><i class="mdi mdi-chart-bar"></i><span class="hide-menu"> 产品安装 </span></a></li>            
                                <li class="sidebar-item"><a href="/train" class="sidebar-link"><i class="mdi mdi-chart-bar"></i><span class="hide-menu"> 产品培训 </span></a></li>
                                <li class="sidebar-item"><a href="/rate" class="sidebar-link"><i class="mdi mdi-chart-bar"></i><span class="hide-menu"> 产品多维度综合评价 </span></a></li>
                            </ul>
                        </li>
					
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/wordcloud_1" aria-expanded="false">
                            <i class="mdi mdi-receipt"></i><span class="hide-menu">自动生成词云图</span></a></li>

                        <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="/keyinfo_1" aria-expanded="false">
                            <i class="mdi mdi-receipt"></i><span class="hide-menu">文本关键信息提取</span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="/keyinfo_1" class="sidebar-link"><i class="mdi mdi-receipt"></i><span class="hide-menu"> 单文本分析 </span></a></li>
                                <li class="sidebar-item"><a href="/topic_1" class="sidebar-link"><i class="mdi mdi-receipt"></i><span class="hide-menu"> 多文本分析 </span></a></li>                                
                            </ul>
                        </li>

                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/classification_1" aria-expanded="false">
                            <i class="mdi mdi-receipt"></i><span class="hide-menu">文本分类</span></a></li>

                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/review" aria-expanded="false">
                            <i class="mdi mdi-receipt"></i><span class="hide-menu">用户评价情感分析</span></a></li>
							
						<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/user" aria-expanded="false">
                            <i class="mdi mdi-face"></i><span class="hide-menu">用户画像</span></a></li>
							
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- 数据指标卡  -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- 产品数量 -->
                    <div class="col-md-8 col-lg-4 col-xlg-4">
                      <div class="card card-hover">
                          <div class="box bg-success text-center">
                            <div class="card-body" align = 'center'>
                              <h1 class="card-title font-light text-white"><a href="#">{{ curnumber.product_sum }}</a></h1>
                              <p class="card-text text-white">产品数量</p>
                              
                            </div>
                          </div>
                      </div>
                    </div>
                    <!-- EDC产品功能数量 -->
                    <div class="col-md-8 col-lg-4 col-xlg-4">
                      <div class="card card-hover">
                        <div class="box bg-warning text-center">
                            <div class="card-body" align = 'center'>
                              <h1 class="card-title font-light text-white" ><a href="#">{{ curnumber.edc_feature_sum }}</a></h1>
                              <p class="card-text text-white">EDC功能数量</p>
                              
                            </div>
                        </div>
                      </div>
                    </div>
                    <!-- 参与调研的用户数量 -->
                    <div class="col-md-8 col-lg-4 col-xlg-4">
                      <div class="card card-hover">
                          <div class="box bg-danger text-center">
                            <div class="card-body" align = 'center'>
                              <h1 class="card-title font-light text-white"><a href="#">{{ curnumber.user_sum }}</a></h1>
                              <p class="card-text text-white">用户数量</p>
                              
                            </div>
                           </div>
                      </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- 图表可视化组件 -->
                <!-- ============================================================== -->
                <div class="row"  >
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <!-- column -->
                                    <div class="col-lg-12">
                                        <div class="flot-chart" >
                                            <div class="flot-chart-content" style="text-align:center;" id="map"></div>
                                        </div>
                                    </div>
                                    <!-- column -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Sales chart -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                版权所有@数据协调中心 <a href=""></a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../static/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../static/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="../static/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../static/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="../static/assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="../static/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../static/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../static/dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <script src="../static/dist/js/pages/dashboards/dashboard1.js"></script>
    <!-- Charts js Files -->
    <script src="../static/assets/libs/flot/excanvas.js"></script>
    <script src="../static/assets/libs/flot/jquery.flot.js"></script>
    <script src="../static/assets/libs/flot/jquery.flot.pie.js"></script>
    <script src="../static/assets/libs/flot/jquery.flot.time.js"></script>
    <script src="../static/assets/libs/flot/jquery.flot.stack.js"></script>
    <script src="../static/assets/libs/flot/jquery.flot.crosshair.js"></script>
    <script src="../static/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="../static/dist/js/pages/chart/chart-page-init.js"></script>

    <!-- 竞品分析-产品价格分析 -->
    <script>
        $(
            function () {
                var chart = echarts.init(document.getElementById('map'), 'white', {renderer: 'canvas'},{height: '800px'});
                $.ajax({
                    type: "GET",
                    url: "http://127.0.0.1:5000/price_chart",
                    dataType: 'json',
                    success: function (result) {
                        chart.setOption(result);
                    }
                });
            }
        )
    </script>	

</body>
</html>